/2. Mockup.png
/4_abb_haushaltsabfaelle_2023-10-11.png
/Anmeldung Seminar Wirtschaftsinformatik.png
/data (1).json
/data.JSON
/Fragen Antwort.docx
/leere Website.png
/Mockup.png
/neu
/nexttry.png
/test.pdf
/Vorlage fuer den Projekt-_Praktikumsbericht (1).docx
/~$rlage fuer den Projekt-_Praktikumsbericht (1).docx
/~WRL1948.tmp